.aboutSection {

    padding: 1rem;

    .aboutContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        .aboutImg, .aboutDescription {
            width: 50%;

            img{
                width: 50%;
                height: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 0.5rem;
            }
        }
    }

    p {
        padding: 1rem 5rem;
        color: #ffffff;
        text-align: justify;
    }

}

@media screen and (max-width: 768px) {
    .aboutSection {
        .aboutContainer {
            flex-direction: column;
            text-align: center;

            .aboutImg, .aboutDescription {
                width: 100%;
            }
        }
    }
    
}