nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 100;

    .mobileNav {
        display: none;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 600;
        color: #fff;
    }

    .navlinks {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        padding-right: 3rem;

        a {
            padding: 0 1rem;
            color: #fff;
            font-size: small;
        }
    }
}

.navbar.dark {
    background-color: var(--dark-bg-color);
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;

        .mobileNavContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 2rem;
        }

        .mobileNav {
            display: flex;
        }

        .navlinks {

            display: none;

            ul {
                display: flex;
                flex-direction: column;
            }
        }

        & .toggleNav {
            display: flex;
            flex-direction: column;
        }
    }
}